<header>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand mb-0 h1" href="/mentors/<%=@mentor.id%>/clients/<%=@client.id%>" ><%= @client.name%>様の初回面談記録</a>
  </nav>
</header>
<div>
  <ul class="nav nav-tabs" role="tablist">
    <li class="active" role="presentation">
      <a aria-controls="tab_a" data-toggle="tab" href="#tab_a" role="tab">面談登録</a>
    </li>
    <li role="presentation">
      <a aria-controls="tab_b" data-toggle="tab" href="#tab_b" role="tab">面談カレンダー</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab_a" role="tabpanel">
      <%= form_with(model:  [@mentor, @client, @firstinterview], local: true) do |form| %>
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">職業:</label>
            <%= form.text_field :skill, id: "recipient-name", class: "form-control" %><br>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">理想の受講期間:</label><br>
            <%= form.number_field :courseperiod, id: "recipient-name", class: "form-control" %><br>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">週の平均学習時間:</label><br>
            <%= form.number_field :weeklystudyhours, id: "recipient-name", class: "form-control" %><br>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">受講理由:</label>
            <%= form.text_area :goal ,id: "recipient-name", class: "form-control",rows: "3" %><br>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">対応メモ:</label>
            <%= form.text_area :memo ,id: "recipient-name", class: "form-control",rows: "3" %><br>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">次回までの目標:</label>
            <%= form.text_area :nextgoal ,id: "recipient-name", class: "form-control",rows: "3" %><br>
          </div>
          
          <div class="form-group">
            <label for="exampleFormControlTextarea1">次回面談の開始時間: <span class="badge badge-pill badge-danger">必須</span></label><br>
            <%= form.datetime_field :starttime %><br>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">次回面談の終了時間: <span class="badge badge-pill badge-danger">必須</span></label><br>
            <%= form.datetime_field :endtime %><br>
          </div>
            <%= form.submit '投稿する' %>
        </form>
      <% end %>

    </div>
    <div class="tab-pane" id="tab_b" role="tabpanel">
      <div id="calendar"></div>
    </div>
  </div>
</div>

